[Desktop Entry]
Encoding=UTF-8
Name=pyslsk
Comment=SoulSeek for Linux
Exec=pyslsk
Icon=bird.jpg
Terminal=false
Type=Application
Categories=Application;Network;
# vi: encoding=utf-8
